*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}
h1{
    color: white;
    text-decoration: none;
}
body{
    background-color: pink;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
}
.cartao{
    width: 260px;
    height: 200px;
}
.cartao-imagem{
    width: 100%;
}
.cartao-interno{
    position: relative;
    transition: transform 0.8s;
    transform: preserve-3d;
}
.cartao-mentira, .cartao-verso{
    position: absolute;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    backface-visibility: hidden;
    }
.cartao-verso{
        transform: rotate(180deg);
}
.cartao:hover .cartao-interno{
    transform: rotate(180deg);
}
section{
    display: flex;
    gap: 16px;
}